@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body * {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

.navbar-extend {
    height: 80px;
}

.jumbotron-extend{
    color: #555;
    background: linear-gradient(0deg, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("/images/bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
}

.jumbotron-extend h1 {
    font-weight: lighter;
}

.card img {
    max-height: 100%;
    max-width: 100%;
}

.book-img {
    width: 100%;
    height: auto;
    box-shadow:0px 0px 30px rgba(0,0,0,0.4);
}

.author{
    font-size: 13px;
}

.user-photo{
    width:120px;
    height: auto;
}

.card-author-name {
    font-size: 150%;
}

.post-title {
    text-transform: capitalize;
}

.post-content {
    text-align: justify;
    line-height: 1.8em;
}

#form-bg {
    height: calc(100vh - 80px);
}

.form-group {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 30px;;
}

.form-group textarea {
    outline: none;
    box-shadow:none !important;
}

#form-title  {
    border: none;
    border-radius: 0;
    font-size: 130%;
}

#form-content  {
    border: none;
    border-radius: 0;
    height: calc(100vh - 320px);
}

#form-button {
    border-radius: 10px;
}