@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body * {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
}

.navbar-extend {
    height: 80px;
}

.jumbotron-extend{
    color: #555;
    background: linear-gradient(0deg, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("/images/bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
}

.card img {
    max-height: 100%;
    max-width: 100%;
}

.book-img {
    width: 100%;
    height: auto;
    box-shadow:3px 2px 15px;
}

.author{
    font-size: 13px;
}

.user_photo{
    width:200px;
    height: auto;
}
